<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Dtn_Ingredient::main_menu" title="Product Ingredient" sortOrder="10">
                    <resource id="Dtn_Ingredient::ingredient" title="Ingredient" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
