<?xml version="1.0" encoding="UTF-8"?>
<!-- declare to connect to database -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- connect ingredient model-->
    <virtualType name="Dtn\Ingredient\Model\ResourceModel\Ingredient\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ingredient_product</argument>
            <argument name="resourceModel" xsi:type="string">Dtn\Ingredient\Model\ResourceModel\Ingredient</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ingredient_listing_data_source" xsi:type="string">Dtn\Ingredient\Model\ResourceModel\Ingredient\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dtn\Ingredient\ReferenceImageUpload" type="Dtn\Ingredient\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">dtn/tmp/ingredient</argument>
            <argument name="basePath" xsi:type="string">dtn/ingredient</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Dtn\Ingredient\Controller\Adminhtml\Ingredient\Uploader">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Dtn\Ingredient\ReferenceImageUpload</argument>
        </arguments>
    </type>
</config>
